# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
staticfiles/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Env variables
.env
.env.*

# Migrations (optional: only ignore if you don't want to track them)
# **/migrations/
# !**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Pytest
.pytest_cache/
.cache/

# images
*.png